:root{
    --box-radius: 5px;
    --min-container-width: 640px;
    --max-container-width: 1000px;
    --header-side-padding: 10px;
    --word-unit-height: 38px;
    --stpop-sect-width: 26px;
    --danger-color: #ff2727;
    --danger-color-darker: #ec0000;
    --danger-color-brighter: #ffdfdf;
}

input {
    font-size: 14px;
}
html {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    width: 100vw;
    min-width: var(--min-container-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 14px;
}

.hide {
    display: none;
}


#header {
    width: 100%;
    padding: 14px 0px 4px 0px;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: center;
}
#header-inner {
    width: 70%;
    min-width: var(--min-container-width);
    max-width: var(--max-container-width);
}
#word-set-name {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    padding: 0px var(--header-side-padding);
    border-bottom: 2px solid var(--main-theme-color-3);
    font-size: 18px;
    margin-bottom: 8px;
}
/* --------------- info --------------- */
#word-set-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 2px;
}
#word-set-info-inner {
    display: flex;
    justify-content: start;
    align-items: center;
}
#word-set-info-inner > div {
    padding: 0px var(--header-side-padding);
    color: #555;
    font-size: 12px;
    position: relative;
}
#word-set-info-inner > div::after {
    content: '';
    height: 12px;
    border-right: 1px solid #aaa;
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
}
#word-set-info-inner > div:last-child::after {
    display: none;
}
#ws-info-btns-wrap {
    display: flex;
    gap: 10px;
    margin-right: var(--header-side-padding);
}
#ws-info-btns-wrap > div {
    padding: 2px 14px;
    border-radius: 2px;
    border: 1px solid #aaa;
    font-size: 12px;
    cursor: pointer;
}
#word-set-del-btn:hover {
    background-color: var(--danger-color);
    color: #fff;
    border-color: var(--danger-color);
}
#word-set-edit-btn:hover {
    background-color: var(--main-theme-color-3);
    color: #fff;
    border-color: var(--main-theme-color-3);
}



/* --------------- setup-tools --------------- */
#setup-tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--header-side-padding);
    background-color: #fff;
}
#setup-tools-verticalbar {
    height: 24px;
    padding: 0px 5px;
    align-items: center;
    display: none;
}
#setup-tools-verticalbar:hover {
    color: var(--main-theme-color-3);
}
#setup-tools-left{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    background-color: #fff;
}
#setup-tools-left > div {
    padding: 6px 0px;
}
#setup-tools-left > div:not(:last-child) {
    padding-right: 12px;
    position: relative;
}
#setup-tools-left > div:not(:last-child)::after {
    content: '';
    height: 14px;
    border-right: 1px solid #aaa;
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translate(0, -50%);
}


/* --------------- #sect-sepr --------------- */
#sect-sepr {
    position: relative;
}
#sect-sepr > span {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
#sect-sepr-group {
    width: calc(100% - 10px);
    min-width: 120px;
    border: 1px solid #aaa;
    position: absolute;
    top: 100%;
    left: 5px;
    background-color: #fff;
    display: none;
    z-index: 10000;
}
#sect-sepr-group.active {
    display: block;
}
#sect-sepr-group > div {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}
#sect-sepr-group > div:hover {
    background-color: #f5f5f5;
}
#sect-sepr-group > div:not(:last-child) {
    position: relative;
}
#sect-sepr-group > div:not(:last-child)::after {
    content: '';
    width: calc(100% - 10%);
    border-bottom: 1px solid #aaa;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1px;
}
#sect-sepr-input {
    width: 40px;
    height: 20px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 2px;
}


/* --------------- #view-dontknow-word --------------- */
#view-dontknow-word {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
#vdkw-toggle-switch {
    width: 26px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #777;
    background-color: #fafafa;
    position: relative;
    cursor: pointer;
    margin: 0px 4px;
    transition: all 0.08s ease-in-out;
}
#vdkw-toggle-switch::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #aaa;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-4px, -50%);
    transition: all 0.08s ease-in-out;
}
#vdkw-toggle-switch.active {
    background-color: var(-3);
}
#vdkw-toggle-switch.active::after {
    left: 15px;
}


/* --------------- #go-set-list --------------- */
#setup-tools-right {
    height: 100%;
}
#go-set-list-btn {
    cursor: pointer;
    font-size: 13px;
}
#go-set-list-btn:hover {
    color: var(--main-theme-color-1);
}





















/* --------------- contents --------------- */
#contents {
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contents-inner {
    width: 70%;
    min-width: var(--min-container-width);
    max-width: var(--max-container-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    padding: 5px 0px;
}
#contents-header {
    width: 100%;
    height: var(--word-unit-height);
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px 0px 5px;
}
#contents-header > div {
    height: 100%;
    border-radius: 7px;
    border: 1px solid #777;
    background-color: #fff;
    display: flex;
    align-items: center;
}

/* --------------- search-word-area --------------- */
#search-word-area {
    flex: 1;
}
#search-word-input {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 13px;
}
#search-del-btn {
    display: flex;
    align-items: end;
    margin: 0px 10px 0px 5px;
    cursor: pointer;
    color: #777;
    padding-top: 0.5px;
}
#search-del-btn:hover {
    color: var(--main-theme-color-1);
}
#search-del-btn > i {
    font-size: 13px;
}
/* --------------- gotunum --------------- */
#gotonum-area {
    gap: 10px;
    padding: 0px 10px;
}
#gotonum-input {
    width: 70px;
    height: 100%;
    text-align: left;
    direction: ltr;
    unicode-bidi: plaintext;
    font-size: 13px;
}
#gotonum-arrow {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: #777;
}
#gotonum-arrow:hover {
    color: var(--main-theme-color-1);
}
/* --------------- study-test-btn --------------- */
#study-test-btn {
    width: 120px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#study-test-btn:hover {
    border-color: var(--main-theme-color-3);
    background-color: var(--main-theme-color-6);
}





/* --------------- #words-sect-scroll-area --------------- */
#words-sect-scroll-area {
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 5px;
    gap: 5px;
    overflow-y: scroll;
}
.words-sect {
    width: 100%;
    border: 1px solid #777;
    border-radius: 7px;
    background-color: #fff;
}
/* --------------- .words-sect-header --------------- */
.words-sect-header {
    width: 100%;
    height: var(--word-unit-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
}
.words-sect.open .words-sect-header {
    border-bottom: 1px solid #777;
}
.words-sect-header-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.words-sect-header-left {
    display: flex;
    gap: 11px;
}
.words-sect-header-left > div {
    padding: 0px 5px;
    position: relative;
}
.words-sect-header-left > div:not(:last-child)::after {
    content: '';
    height: 100%;
    border-right: 1px solid #aaa;
    position: absolute;
    top: 0;
    right: -7px;
}
.words-sect-header-left > div:not(:first-child) {
    font-size: 13px;
    color: #555;
}

.memorize-btn {
    padding: 3px 12px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #aaa;
    cursor: pointer;
    margin-right: 5px;
    font-size: 13px;
}
.memorize-btn:hover {
    border-color: var(--main-theme-color-3);
    background-color: var(--main-theme-color-6);
}


/* --------------- .sect-words-group --------------- */
.sect-words-group {
    width: 100%;
    padding: 0px 10px;
    display: none;
}
.words-sect.open .sect-words-group {
    display: block;
}
.word-unit {
    width: 100%;
    height: var(--word-unit-height);
    display: flex;
    align-items: center;
}
.word-unit.has-border {
    border-bottom: 1px solid #aaa;
}
.whet-know {
    width: 10px;
    height: 10px;
    border: 1px solid #aaa;
    margin: 0px 20px 0px 10px;
    cursor: pointer;
}
.word-unit.know > .whet-know {
    border: none;
    background-color: rgb(140, 138, 255);
}
.word-unit.dontknow > .whet-know {
    border: none;
    background-color: red;
}
.word-spell {
    flex: 3;
}
.word-phon {
    flex: 4;
    color: #444;
}
.word-phon > span {
    margin: 0px 2px;
}
.word-mean {
    flex: 6;
}

.search-highlight {
    background-color: #8867ff32;
}






/* --------------- #study-test-popup --------------- */
#stpop-wrapper {
    width: 100%;
    height: 100%;
    background-color: #00000020;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 30px 15px;
    overflow-y: auto;
}
#stpop-wrapper.show {
    display: flex;
}
#study-test-popup {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
    min-height: 300px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px #aaa;
    display: flex;
    flex-direction: column;
    margin: auto;
}



#study-test-popup > div {
    padding: 10px;
}
#study-test-popup > div:not(:last-child) {
    border-bottom: 1px solid #aaa;
}

/* --------------- #stpop-top --------------- */
#stpop-top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 16px;
}
#stpop-close-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(50%, -50%);
    cursor: pointer;
    font-size: 18px;
}
#stpop-close-btn:hover {
    color: var(--main-theme-color-3);
}

/* --------------- #st-select-btns --------------- */
#st-select-btns {
    width: 100%;
    flex: 1;
    display: none;
    gap: 10px;
    padding: 10px;
    font-size: 16px;
}
#st-select-btns.show {
    display: flex;
}
#st-select-btns > div {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}
#st-select-btns > div:hover {
    background-color: var(--main-theme-color-6);
    border-color: var(--main-theme-color-3);
}

/* --------------- #stpop-content --------------- */
#stpop-sect-inner {
    width: 100%;
    flex: 1;
    display: none;
    grid-template-columns: repeat(auto-fill, var(--stpop-sect-width));
    grid-auto-rows: min-content;
    gap: 10px;
    overflow-y: auto;
}
#stpop-sect-inner.show {
    display: grid;
}
.stpop-sect {
    width: var(--stpop-sect-width);
    height: var(--stpop-sect-width);
    border-radius: var(--stpop-sect-width);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}
.stpop-sect:hover {
    background-color: var(--main-theme-color-6);
}
.stpop-sect.selected {
    border: 1px solid var(--main-theme-color-1);
    background-color: var(--main-theme-color-6);
}

/* --------------- #stpop-bottom --------------- */
#stpop-bottom {
    width: 100%;
    display: none;
}
#stpop-bottom.show {
    display: block;
}
#stpop-bottom > div {
    width: 100%;
}
#stpop-btns > div {
    margin-bottom: 6px;
}



#stpop-knowexc {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
#knowexc-switch {
    width: 26px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #777;
    background-color: #fafafa;
    position: relative;
    cursor: pointer;
    margin: 0px 4px;
    transition: all 0.08s ease-in-out;
}
#knowexc-switch::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #aaa;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-4px, -50%);
    transition: all 0.08s ease-in-out;
}
#knowexc-switch.active {
    background-color: var(--main-theme-color-3);
}
#knowexc-switch.active::after {
    left: 15px;
}



#stpop-shuffle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
#shuffle-switch {
    width: 26px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #777;
    background-color: #fafafa;
    position: relative;
    cursor: pointer;
    margin: 0px 4px;
    transition: all 0.08s ease-in-out;
}
#shuffle-switch::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #aaa;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-4px, -50%);
    transition: all 0.08s ease-in-out;
}
#shuffle-switch.active {
    background-color: var(--main-theme-color-3);
}
#shuffle-switch.active::after {
    left: 15px;
}



#stpop-start-wrap {
    display: flex;
    justify-content: end;
}
#stpop-start-wrap > div {
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: #fff;
    cursor: pointer;
    display: none;
}
#stpop-start-wrap > div:hover {
    background-color: var(--main-theme-color-6);
}
#stpop-start-wrap > div.show {
    display: block;
}




#vdkw-toggle-switch {
    width: 26px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #777;
    background-color: #fafafa;
    position: relative;
    cursor: pointer;
    margin: 0px 4px;
    transition: all 0.08s ease-in-out;
}
#vdkw-toggle-switch::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #aaa;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-4px, -50%);
    transition: all 0.08s ease-in-out;
}
#vdkw-toggle-switch.active {
    background-color: var(--main-theme-color-3);
}
#vdkw-toggle-switch.active::after {
    left: 15px;
}





@media (max-width: 468px) {
    #study-test-popup {
        max-height: none;
    }
}

@media (max-width: 640px) {
    #contents {
        padding-bottom: 5px;
    }
}

@media (max-width: 480px) {
    :root {
        --header-side-padding: 20px;
    }
    body {
        min-width: 0;
    }
    #header-inner {
        width: 100%;
        min-width: 0; 
    }
    #word-set-name {
        margin-bottom: 4px;
    }
    #word-set-info {
        display: none;
    }
    #setup-tools {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    #setup-tools-right {
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    #contents-inner {
        width: 100%;
        min-width: 0;
    }
    #contents-header #study-test-btn {
        display: none;
    }
    .word-unit {
        width: 100%;
        height: var(--word-unit-height);
        border-radius: 5px;
        border: 1px solid #aaa;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .word-unit:first-child {
        margin-top: 5px;
    }
}

@media (max-width: 370px) {
    #setup-tools {
        position: relative;
    }
    #setup-tools-verticalbar {
        display: flex;
    }
    #setup-tools-left {
        width: auto;
        border-radius: 0px 5px 5px 5px;
        border: 1px solid #777;
        position: absolute;
        top: 24px;
        left: var(--header-side-padding);
        flex-direction: column;
        gap: 0;
        padding: 2px 10px;
        display: none
    }
    #setup-tools-left.show {
        display: flex;
    }
    #setup-tools-left > div {
        width: 100%;
        padding: 6px;
    }
    #setup-tools-left > div:not(:last-child) {
        padding-right: 12px;
        position: relative;
    }
    #setup-tools-left > div:not(:last-child)::after {
        content: '';
        width: 100%;
        height: 0;
        border-right: none;
        border-bottom: 1px solid #aaa;
        position: absolute;
        top: auto;
        bottom: -1px;
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);
    }
    #setup-tools {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #setup-tools-right {
        width: auto;
    }
}



