/* 
font-family: 'Segoe UI', Arial, sans-serif;
font-family: 'HancomYunGothic740', Arial, sans-serif;
font-family: 'AstaSans', Arial, sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: transparent;
}
:root{
    --main-theme-color: #8867ff;
    --main-theme-color-darker: #311b7f;
    --main-theme-color-brighter: #eae4ff;

    --danger-color: #ff2727;
    --danger-color-darker: #ec0000;
    --danger-color-brighter: #ffdfdf;

    --bg-main: #121212;
    --bg-card: #1E1E1E;
    --bg-hover: #2A2A2A;

    --text-main: #eaeaea;
    --text-sub: #A0A0A0;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe\ UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HancomYunGothic740';
    src: url('../fonts/HancomYunGothic740.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AstaSans';
    src: url('../fonts/AstaSans-VariableFont.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
}

input {
    font-size: 14px;
}
body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 14px;
    background-color: var(--bg-main);
    font-family: 'Segoe UI', Arial, sans-serif;
    overflow: hidden;
}


#header {
    width: 100%;
    height: 46px;
    background-color: var(--bg-card);
}
#container {
    width: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px 0px;
    overflow-y: auto;
}
#container::-webkit-scrollbar {
    width: 6px;
}
#container::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 10px;
}
#container::-webkit-scrollbar-thumb {
    background: var(--main-theme-color);
    border-radius: 10px;
    min-height: 40px;
}



/* --------------- contents-wrapper --------------- */
#contents {
    width: 100%;
    max-height: 460px;
    min-height: 400px;
    display: flex;
    justify-content: start;
    position: relative;
    margin-top: auto;
}
.card-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
.card {
    width: 70%;
    max-width: 780px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 8px #000;
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--text-main);
}
.card-top {
    width: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-top-inner > div {
    text-align: center;
}
.card-spell {
    font-size: 46px;
}
.card-phon {
    font-size: 18px;
}
.card-bottom {
    width: 100%;
    flex: 1;
    min-height: 0;
    position: relative;
}
.card-means {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    border: 2px dashed var(--main-theme-color-darker);
}
.card-means:hover {
    background-color: var(--bg-hover);
    border-color: var(--main-theme-color);
}

.card-cover {
    width: 100%;
    height: 100%;
    background-color: #19152b;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    border: 2px solid var(--main-theme-color-darker);
}
.card-cover:hover {
    background-color: #221d3a;
    border-color: var(--main-theme-color);
}

.card-wrapper.open .card-cover {
    display: none;
}

/* --------------- #move-btns --------------- */
#move-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 25px;
}
#move-btns > div {
    font-size: 46px;
    color: var(--text-main);
    cursor: pointer;
}
#move-btns > div:hover {
    color: var(--main-theme-color);
}






/* --------------- #contents-btns --------------- */
#contents-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}
/* --------------- #contents-btns-inner --------------- */
#contents-btns-inner {
    width: 70%;
    max-width: 780px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}
#contents-btns-inner > div {
    padding: 12px 0;
    border-radius: 10px;
    background-color: var(--bg-card);
    box-shadow: 0 0 5px #000;
    color: var(--text-main);
    cursor: pointer;
    flex: 1;
    text-align: center;
    border: 2px solid transparent;
}
#idontknow-btn:hover {
    background-color: #2a291d;
    border-color: #726c1f;
}
#iknow-btn:hover {
    background-color: #1e2a1d;
    border-color: #2a6b24;
}
#idontknow-btn.active {
    background-color: #2a291d;
    border-color: #726c1f;
}
#iknow-btn.active {
    background-color: #1e2a1d;
    border-color: #2a6b24;
}





@media (max-width: 540px) {
    #move-btns {
        display: none;
    }
}







