* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, sans-serif;
}
:root{
    --box-radius: 5px;
    --main-theme-color: #8867ff;
    --main-theme-color-darker: #431bd2;
    --main-theme-color-brighter: #eae4ff;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe\ UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HancomYunGothic740';
    src: url('../fonts/HancomYunGothic740.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AstaSans';
    src: url('../fonts/AstaSans-VariableFont.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container{
    width: 75%;
    max-width: 800px;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#search-area{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: var(--box-radius);
    background-color: #fff;
}
#search-area:has(#search-box:focus) {
    border-color: var(--main-theme-color);
}
#search-box{
    flex: 1;
    height: 20px;
    background-color: transparent;
}
#search-del-btn{
    background-color: #fff;
    cursor: pointer;
    color: #777;
}
#set-create-btn{
    width: 140px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: var(--box-radius);
    background-color: #fff;
    cursor: pointer;
}
#set-create-btn:hover {
    background-color: var(--main-theme-color-brighter);
}

/* ---------- scroll-area ---------- */
#word-set-scroll-area{
    width: 100%;
    flex: 1;
    min-height: 0;
    border: 1px solid #aaa;
    border-radius: var(--box-radius);
    background-color: #fff;
    padding: var(--box-radius) 0px;
    overflow: hidden;
}
#word-set-scroll-inner{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: calc(15px - var(--box-radius)) 15px;
}

#word-set-scroll-inner::-webkit-scrollbar {
    width: 6px;
}
#word-set-scroll-inner::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 10px;
}
#word-set-scroll-inner::-webkit-scrollbar-thumb {
    background: var(--main-theme-color);
    border-radius: 10px;
    min-height: 40px;
}


.word-set-unit {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #aaa;
    border-radius: var(--box-radius);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.word-set-unit:hover {
    background-color: var(--main-theme-color-brighter);
}
.word-set-name {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.word-set-name > span {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.word-set-info {
    height: 100%;
    display: flex;
    align-items: center;
}
.word-set-info > div {
    height: 100%;
    padding: 0px 10px;
    align-items: center;
    position: relative;
    color: #555;
    font-size: 12px;
}
.word-set-words-count {
    display: flex;
}
.word-set-study-date {
    display: flex;
}
.word-set-info > div::before {
    content: '';
    height: 14px;
    border-left: 1px solid #aaa;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}




/* ---------- data ---------- */
#data-btns {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
}
#data-btns > div {
    flex: 1;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: var(--box-radius);
    background-color: #fff;
    cursor: pointer;
}
#data-btns > div:hover {
    background-color: var(--main-theme-color-brighter);
}






@media (max-width: 700px) {
    .word-set-study-date {
        display: none;
    }
}
@media (max-width: 500px) {
    #set-create-btn {
        display: none;
    }
    .word-set-words-count {
        display: none;
    }
}







